<div>
    {{> tabs}}
</div>

<script type="text/javascript">
    $(function() {
        $('#tabs li').each(function(i) {
            $(this).on('click', function (e) {
                var tab = $(this).find('a').data('tab-id');
                var sport = 'football';
                getContent(tab, sport);
            });
        });
    });

    function getContent(tab, sport) {
//        console.log(tab, sport);

        $.ajax({
            url: "/" + tab + "/" + sport,
            context: document.body
        }).done(function(data) {
            var content = tab + " : " + sport;
            pasteContent(tab, sport, content);
        }).fail(function( jqXHR, textStatus ) {
            pasteContent(tab, sport, jqXHR.responseText);
        });
    }

    function pasteContent(tab, sport, content) {
        console.log(content);
        var tab_id = "tab_content_" + tab;
        $('#'+tab_id).text(content);
        console.log($('#'+tab_id));
    }

</script>