<div class="media">
    <div class="media-left media-middle"></div>
    <div class="label label-default">&larr; back</div>
    <div class="header">
        <div class="topBetting">Top Betting</div>
    </div>
    <div class="media-right media-middle betslip"><a href="#">Betslip</a></div>
</div>
<div>
    {{> tabs}}
</div>
<script type="text/javascript">
    var ALL_SPORTS_ALIAS = 'all_sports';

    $(function() {
        $('#tabs li').each(function(i) {
            $(this).on('click', function (e) {
                var tabId = $(this).find('a').data('tab-id');
                var sportAlias = 'all_sports';
                getContent(tabId, sportAlias);
            });
        });

        getContent('15mins', ALL_SPORTS_ALIAS);
    });

    function getContent(tabId, sportAlias) {
        $.ajax({
            url: "/" + tabId + "/" + sportAlias + '?r=' + Math.random(),
            context: document.body
        }).done(function(data) {
            pasteContent(data, tabId, sportAlias);
        }).fail(function(jqXHR, textStatus ) {
            pasteContent(jqXHR.responseText, tabId, sportAlias);
        });
    }

    function pasteContent(content, tabId, sportAlias) {
        $('#tab_content').html(content);

        if (sportAlias != ALL_SPORTS_ALIAS) {
            var dom = document.querySelector("#heading" + sportAlias);
            if (dom) {
                window.setTimeout(function () {
                    window.scrollTo(0, dom.getBoundingClientRect().top - 100);
                }, 1);
            }
        }
    }
</script>