<div>
    {{> tabs}}
</div>

<script type="text/javascript">
    $(function() {
        $('#tabs li').each(function(i) {
            $(this).on('click', function (e) {
                var tab = $(this).find('a').data('tab-id');
                var sport = 'football';
                getContent(tab, sport);
            });
        });

        getContent('15mins', 'all_sports');
    });

    function getContent(tab, sport) {
        $.ajax({
            url: "/" + tab + "/" + sport + '?r=' + Math.random(),
            context: document.body
        }).done(function(data) {
            pasteContent(data);
        }).fail(function( jqXHR, textStatus ) {
            pasteContent(jqXHR.responseText);
        });
    }

    function pasteContent(content) {
        $('#tab_content').html(content);
    }

</script>