body {
    padding-top: 60px;
}

html, body {
    overflow-x: hidden;
}
body {
    position: relative
}

.wrapper {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.progress-bar {
    transform: translate3d(0, 0, 0);
    animation: scaleUp 2s ease both;
}

@keyframes scaleDown {
    to {
        opacity: 0;
        transform: scale(.8);
    }
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(.8);
    }
}

.panel-heading {
    display: flex;
    justify-content: space-between;
}

.eventCnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBetting{
    font-size: x-large;
    padding: 0 80px;
}

.media {
    display: table;
}

.media > div {
    display: table-cell;
    vertical-align: middle;
}

.media-left {
    display: flex;
    align-items: center;
}

.media-body{

}

.header {
    display: table;
    margin: auto;
}

.header > div {
    display: table-cell;
}

.header > .label {
    display: flex;
    float: left;
}

.betslip {
    padding-right: 7px;
    font-size: smaller;
}