body {
    padding-top: 60px;
}

html, body {
    overflow: hidden;
    height: 100%;
}

.wrapper {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.progress-bar {
    transform: translate3d(0, 0, 0);
    animation: scaleUp 2s ease both;
}

@keyframes scaleDown {
    to {
        opacity: 0;
        transform: scale(.8);
    }
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(.8);
    }
}



.panel-heading {
    display: flex;
    justify-content: space-between;
}

.eventCnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

